
.main-container a{
    text-decoration: none;
    color: #FFF;
}
.main-container{
    width: 98%;
    height: 400px;
    margin: auto; 
    margin-top: 10px;
  
}
.main-container .containers{
    width: 100%;
    height: 400px;
    box-shadow: rgb(0, 0, 0,.3)3px 3px 6px 0px inset;
    background-size: cover;
    background-position: center;
    border-radius: 10px;
    cursor: pointer;
    overflow: hidden;
    transition: all .8s;
}
.main-container .containers img{
    width: 100%;    
}
.main-container .first{
    background-image: url('../img/Clan\ Wars.png');
    background-repeat: no-repeat;
}
.main-container .second{
    background-image: url('https://picsum.photos/300/400/?random=10');
    background-repeat: no-repeat;
}
.third{
    background-image: url('https://picsum.photos/300/400/?random=10');
    background-repeat: no-repeat;
}
.main-container .content{
    width: 100%;
    height: 100%;
    transform: translateY(83%);
    transition: 0.7s ease-in-out;
}
.main-container .content h1{
    color: #FFF;
    margin-left:.5em;
    font-size: 30px;
    text-shadow: 1px 1px 1px #000;
    /* padding-top: 50px; */
}
.main-container .bg{
    background: rgba(0,0,0,0.6);
}
.main-container .content p{
    text-align: justify;
    width: 75%;
    color: #DBD8E3;
    margin: 25px 0 0 25px;
    font-size: 16px;
    /* line-height: 1.5em; */
}
.main-container .fa-coffee{
    margin-left: 2px;
    margin-right: 6px;
    color: white;
    font-size: 12px;
}
.main-container .content span{
    margin-left: 1em;
    color: #F5EDED;
    font-size: 14px;
}
.main-container .containers:hover > .content{
    transform: translateY(0%);
    background: linear-gradient(rgba(0,0,0,0.7),rgba(0,0,0,0.6)); 
}
.main-container .bookBtn{
    border-radius: 5px;
    margin-left: 25px;
    font-size: 18px;
    margin-top: 30px;
    padding: 12px;
    border: none;
    color: #FFF;
    background-color: #09a6d4;
}
.main-container .bookBtn:hover{
    background: rgb(34, 71, 152);
}
@media screen and (min-width:768px){
 /* .main-container .main-container{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
 }        
 .main-container .containers{
    width: 30%;
 }
 .main-container .content{
    transform: translateY(73%);
 }
 .main-container .content h1{
    font-size: 1.8em;
 } */
 .main-container{
    height: 482px;
}
.main-container .containers{
    height: 482px;
}
 .main-container .content{
    transform: translateY(86%);
}
}
@media screen and (min-width:1200px){
 /* .main-container .content{
    transform: translateY(84%);
 } */
}
