
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@100;200;300;400;500;600;700;800&display=swap');
*{
    font-family: 'Noto Sans TC', sans-serif;
    /* border: 1px solid; */
}

#search{
    font-weight: 700;
}
#search h1{
    font-size: 24px;
    letter-spacing: 1px;
}
.btn{
    margin-top: 1em;
    padding: 1em;
    border-radius: .5rem;
    border: none;
    color: white;
    background: blue;
    font-size: 1em;
}
.form{
    display: flex;
    justify-content: center;
    align-items: center;
}
  
#sidebar .brand .fa {
	min-width: 60px;
	display: flex;
	justify-content: center;
}
#myTable_previous, #myTable_next{
    display: none;
}
.dataTables_filter{
    margin-bottom: 1em;
}
#myTable_paginate .paginate_button{
    /* padding: 0.2em 0.4em; */
    padding: 0.5em 1em;
    background: none;
    border: none;
}
#myTable_paginate .paginate_button.current{
    scale: 1.4;
}
#myTable {
    font-size: 1em;
}
#myTable th{
    font-size: 0.7em;
}


#sidebar .side-menu .undone {
	opacity: 0.2;
}
#content main .table-data .head h3 {
    font-size: 1.4em;
}
.completed address a{
    font-style: normal;

}

.todo-list .completed a:visited , .not-completed a{
    color: blue;
}

.table-data .txt{
    position: relative;
}
.table-data .txt h2{
    margin-top: 1.4em;
    padding-bottom: .2em;
    margin-bottom: .8em;
    display: inline-block;
    color: blue;
    
    
}
.table-data .txt h2:nth-child(n+2){
    margin-top: 1.7em;
    padding-bottom: .2em;
    margin-bottom: .8em;
    display: inline-block;
    color: blue;
    /* border-bottom: 3px solid; */
    
}

/* .table-data .txt h2:nth-last-child(4){
    color: rgb(71, 71, 120);
} */
.table-data .txt h3{
    margin-top: .5em;
    font-size: 1em;
    color: purple
}
.table-data .txt p{
    line-height: 1.2em;
    font-size: 1.2em;
    font-weight: 400; 
}
.table-data .txt ul{
    margin-top: 4em;
}
.table-data .txt li{
    margin-top: 0.5em;
}
.table-data .txt li:nth-last-child(2){
    margin-top: 1em;
}

/* .table-data .txt .pic{
    position: absolute;
    right: 0;
    bottom: -1.5em; 
} */

.track{
    margin-left: .5em;
    margin-bottom: -2.6em;
}
.ml-1-5{
    margin-left: 1.5em;
}
a:visited , a{
    color: blueviolet ;
}
.box-info a , .box-info a:visited{
    color: black;
}

#content #chart.todo {
    flex-basis: 500px !important;
}













@media screen and (min-width:1401px){
    /* #content #introduce{
        flex-grow: 1;
        flex-basis: 660px;
    } */
    /* .Websitefeatures{
        display: block;
    } */
    .table-data .txt h2{
        font-size: 1.9em;
     }
     .table-data .order .txt p{
        font-weight: 500; 
        font-size:1.3em; 
     }
     .table-data .order .txt li{
         margin-top: 1em;
         font-size: 1em;
     }
     .table-data .order .txt p{
         line-height: 1.2em;
     }
     /* .search{
        margin-left: 1em;
     } */
     .table-data .introduce{
        margin-left: 1em;
     }
}

/* @media screen and (min-width:1301px){
    
    .table-data .txt h2{
        font-size: 1.9em;
     }
     .table-data .order .txt p{
         font-size:1.3em; 
     }
     .table-data .order .txt li{
         margin-top: 1em;
         font-size: 1em;
     }
     .table-data .order .txt p{
         line-height: 1.2em;
     }
    
     .table-data .introduce{
        margin-left: 1em;
     }
} */
@media screen and (max-width:1300px){
   
    #myTable{
        font-size: 0.8em !important;
    }
    .Websitefeatures{
        display: none;
    }
   
}

@media screen and (max-width:992px){
   
    #myTable{
        font-size: 0.7em !important;
    }
  
    #myTable th{
        font-size: .7em;
    }
   
    
   
}

@media screen and (max-width:768px){
    #myTable_length{
        /* visibility: hidden; */
        display: none;
    }
    .table-data .txt h2{
       font-size: 1.2em;
    }
    .table-data .order .txt p{
        font-size:0.8em; 
    }
    .table-data .order .txt li{
        margin-top: 0.5em;
        font-size: 0.7em;
    }
    .table-data .order .txt p{
        line-height: 1.5em;
    }
    /* .Websitefeatures{
        display: block;
    } */
    #sidebar.hide {
        position: absolute;
        width: 60px;
        left: -5em;
    }
    #sidebar.hide ~ #content {
        width: 100%;
        left: 0px;
    }
    #content nav::before {
        border-radius: 0; 
    }
}

@media screen and (max-width:640px){
    #myTable_filter{
        text-align: left;
    }
    /* .table-data .txt .pic img{
        width: 7em;
        height: 6em;   
    } */
}

@media screen and (max-width:576px){
    #myTable_paginate .paginate_button{
        /* padding: 0.2em 0.4em; */
        padding: 0;
        background: none;
        border: none;
    }
    #myTable_paginate .paginate_button{
       padding: 0.1em;
    }
    /* .table-data .txt .pic img{
        width: 5em;
        height: 4em;   
    } */
}


