*{
    margin: 0;
    padding: 0;
    list-style: none;
    /* border: 1px solid; */
    box-sizing: border-box;
}
html, body{
    height: 100%;
    display: flex;
    flex-direction: column;
}
.bg{
    background-color: #F8F9FA;
    width: 100%;
}
.wrap{
    flex-grow: 1;
}
.bg-wrap{
  margin: 0;
  padding: 0;
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: -1000;
  overflow: hidden;
  top: 0;
  left: 0;
  
}
#banner{
  position: relative;
   padding-bottom: 45%;
  margin-bottom: 20px;
}
.video_bg{
position: absolute;
top: 0;
left: 0;
height: auto;
width: 100%;
}
/* .content{
    position: absolute;
    width: 100%;
    min-height: 100%;
    color: #fff;
    z-index: 1000;
  }
.content h1{
    font-family: 'Noto Sans TC', sans-serif;
    color: white;
    
    text-align: center;
    padding-top: 15%;
    
}
  
.content p{
    text-align: center;
    
} */
section{
    margin-bottom: 38px;
}
.cards{
    margin-top: 15px;
    width: 90%;
    margin: auto;
    max-width: 600px;
}
.cards .card {
    border: none;
    width: 100%;
    height: 100%;
    margin-bottom: 15px;
    position: relative;

}
.cards .card .pic img{
    width: 100%;
    /* border-radius: 5%; */
}
.cards #first-card .txt{
    position: absolute;
    top: 20%;
    left: 10%;

}
.cards .card .txt{
    position: absolute;
    top: 20%;
    left: 10%;
  
}
.cards .card .txt h3{
    color: white;
    font-family: 'Noto Sans TC', sans-serif;
    font-size: 2em;
    margin-bottom: 30px;
}
.cards .card .txt p{
    color: white;
    font-family: 'Noto Sans TC', sans-serif;
    font-size: 1.5em;
    text-align: left;
}


/* 
@media screen and (max-width:500px){
    .cards #first-card .txt{
        position: absolute;
        top: 10%;
        left: 10%;
    
    }

} */



.item{
    
    width: 80%;
    margin: auto;
}
.item .title h3 , p{
    font-family: 'Noto Sans TC', sans-serif;
    font-size: 40px;
    text-align: center;
}
.item .title  p{
    margin-top: 30px;
    margin-bottom: 40px;
    font-size: 1.1em;
}
.cards .card-hidden{
    display: none;
}
.ce{
    margin-top: 30px;
    margin-bottom: 40px;
}
/* /////////////////////////////////////// */
.cards .mp4 .mv{
    width: 100%;
    aspect-ratio: 560/315;
}
.cards .mp4 .mv iframe{
    width: 100%;
    height: 100%;
    vertical-align: top;
}
.cards .card-item{
    margin-bottom: 18px;
}
.card-item .txt{
    width: 96%;
    margin: auto;
    padding: 10px;

}
.card-item .txt h4{
    font-family: 'Noto Sans TC', sans-serif;
    font-size: 20px;
}
.card-item .txt p{
    font-family: 'Noto Sans TC', sans-serif;
    font-size: 14px;
    text-align: left;
}
.frame{
    width: 90%;
    margin: auto;
    margin-bottom: 40px;
}
/* //////////////////////////////////// */
@media screen and (768px < width < 1000px ){
    
    section{
        display: flex;
        justify-content: center;
        width: 92%;
        margin: auto;
    }  

    section .cards{
        /* display: flex;
        justify-content: center;
        flex-wrap: wrap;
        align-items:center;
        max-width: none;
        width: 98%; */
      }   
      /* section .fir , .sec{
        width: 49%;
      } */
      section .fir, .sec{
       padding: 8px;
      }
      .frame{
        width: 96%;
      }
     
}

@media screen and (1000px< width <1300px ){
    
    section{
        display: flex;
        justify-content: center;
        width: 92%;
        margin: auto;
    }  

    section .cards{
        /* display: flex;
        justify-content: center;
        flex-wrap: wrap;
        align-items:center;
        max-width: none;
        width: 98%; */
      }   
      /* section .fir , .sec{
        width: 49%;
      } */
      section .fir, .sec{
       padding: 8px;
      }
      .frame{
        width: 96%;
      }
      .cards{
        max-width: none;
      }
     
}

/* /////////////////////////////////// */
@media screen and (1300px < width ){
    .cards .card-hidden{
        display: block;
     }
    section  #card-hidden-lg{
        display: none;
    }
    section   #card-hidden-lg-two{
        display: none;
    }  
    section{
        width: 90%;
        margin-left: 11%;
        display: flex;
    } 
   section .cards{
    max-width: none;
   }
   section .cards{
    width: 90%;
   }
   section  #first{
    max-width: none;
    width: 36%;
    display: flex;
    justify-content: flex-end;
    margin-right: .8%;
   }
   .cards .sec{
   display: flex;
   flex-wrap: wrap;
   justify-content: flex-start;
   width: 100%;
    
   }
   .cards .fir{
   display: flex;
   justify-content: end;
   width: 100%;
   }
 
   .cards .sec .card{
   width: 40%;
   margin-right: 12px;
    }

   









}
/* ////////////////////////////////////////// */
@media screen and (min-width:768px){
    .frame .cards{
        display: flex;
        max-width: none;
        justify-content: center ;
    }   
    .frame .card-item{
        width:90%;
        margin: 10px;
    }
}
.Version{
    margin-bottom: 40px;
}
.card  button{
  
    border: none;
    
}


