*{
    margin: 0;
    padding: 0;
    list-style: none;
    /* border: 1px solid; */
  }
  /* https://xiang511.github.io/hydromechanics/%E6%B5%81%E9%AB%94%E5%8A%9B%E5%AD%B8/ 發布網址*/
  body{
    margin: auto;
    background: #fffdfd;
  }
  body::-webkit-scrollbar {
    display: none;
  } 
    /* 流體文字 */
    .container-fluid > a{
      font-size: 32px;
    }
    .container-fluid img{
      margin-right: 5px;
    }
    /* nav右移 */
    .navbar-nav a{
      font-size: 20px;
      margin-top: 4px;
      margin-right: 3px;
    }
    #navbarNav{
      position: relative;
    }
    #nav{
     position: absolute;
     right: 0;
    }
    @media screen and (max-width:992px){
      #nav{
        position: relative;
      }
    }





    .footer {
      width: 100%;
      display: flex;
      justify-content: center;
      background-color: #3f3939;
      background: #f2f3f4;
    }
    .footer a{
      margin-top: 10px;
      text-decoration: none;
      color: black;
    }
    .footer a:hover{
      color: black;
    }
    .footer .item1{
      width: 80%;
     
    }
    .footer .item1 h3{
      margin-top: 10px;
      margin-bottom: 13px;
    }
    .footer .item1 p{
      font-size: .9em;
    }
    .footer .item3 ,.item6{
      width: 80px;
      
    }
    @media screen and (min-width:768px){
      .footer #right{
      margin-left: 30px;
    }  
    }
    @media screen and (max-width:767px){
      .footer #right{
        display: none;
      }  
    }
    
    .footer .item4{
      display: flex;
    }
    .footer .item5{
      flex-grow: 1;
    }
    .footer .item6{
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
    }
    .block{
      display: block;
    }
  
    .footer .item1 #rights{
      border-top: 1px solid black;
      padding-top: 10px;
      margin-bottom: 10px;
    }