body{
    margin: auto;
    background: #fffdfd;
}
body::-webkit-scrollbar {
    display: none;
} 
/* 流體文字 */
.container-fluid > a{
    font-size: 32px;
}
.container-fluid img{
    margin-right: 5px;
}
/* nav右移 */
.navbar-nav a{
    font-size: 20px;
    margin-top: 4px;
    margin-right: 3px;
}
#navbarNav{
    position: relative;
}
#nav{
    position: absolute;
     right: 0;
}
.navbar-nav .b{
    font-size: 20px;
    margin-top: 4px;
    margin-right: 3px;
}
.navbar-nav button{
    background-color: transparent;
    border: none;
}
@media screen and (max-width:992px){
    #nav{
    position: relative;
    }
}
